.paginaBoletos{
    text-align: center;
    color: rgb(251, 247, 247);
    z-index: 1;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 30%;
    font-weight: bold;

}

.BodyB{
    background-image: url(./assets/img/fondoboletas.jpeg) !important;
    background-size: cover;
}
